@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
::-webkit-scrollbar {
  width: 0px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

html, body {
  color: black;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
}

.header {
  box-sizing: border-box;
  height: 70px;
  width: 100vw;
  padding: 1rem;
  position: absolute;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}
.header .Dark-Purple_Btn {
  border-top: 2px solid #232340;
  width: 2rem;
  height: 2rem;
  margin-top: 1.5rem;
  background-color: transparent;
}
.header .Dark-Purple_Btn::after {
  content: "";
  display: block;
  width: 2rem;
  height: 0.1rem;
  background: #232340;
  transition: 0.3s;
  position: relative;
  top: -0.5rem;
}

.Dark-Purple {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100vh;
  background-color: #232340;
  top: 0px;
  right: 0px;
}
.Dark-Purple #Dark-Purple_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -1rem;
  left: 0.5rem;
  z-index: 101;
}
.Dark-Purple #Dark-Purple_header #btn-burger_light-mode {
  border-top: none;
  flex-grow: 0.2;
}
.Dark-Purple #Dark-Purple_header #btn-burger_light-mode::after, .Dark-Purple #Dark-Purple_header #btn-burger_light-mode::before {
  content: "";
  display: block;
  width: 2rem;
  height: 0.1rem;
  background: #ffffff;
  transition: 0.3s;
  position: relative;
  top: -0.5rem;
}
.Dark-Purple #Dark-Purple_header #btn-burger_light-mode::after {
  transform: rotate(-135deg);
}
.Dark-Purple #Dark-Purple_header #btn-burger_light-mode::before {
  transform: rotate(135deg);
}
.Dark-Purple .line {
  width: 15rem;
  position: absolute;
  top: 0px;
  left: 5rem;
  z-index: 1;
}
.Dark-Purple .Dark-Purple_list-Itens {
  height: 20rem;
  margin-left: 1rem;
}
.Dark-Purple .Dark-Purple_list-Itens li {
  height: 5rem;
}
.Dark-Purple .Dark-Purple_list-Itens li .Dark-Purple_Item {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #595976;
}
.Dark-Purple .social-media_container {
  display: flex;
  justify-content: flex-start;
  margin: 1.4rem 0.4rem 1rem;
  height: 40px;
  gap: 2rem;
  margin-left: 1.4rem;
}
.Dark-Purple .social-media_container .social-media_btn {
  box-sizing: border-box;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border: 1px solid #D8D8D8;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Dark-Purple .social-media_container .social-media_btn img {
  width: 1rem;
  height: 1rem;
}

.main-content {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 30px;
  overflow: hidden;
  z-index: -1;
}
.main-content #bg-line {
  width: 24rem;
  position: relative;
  bottom: 2rem;
  left: 6rem;
  z-index: 49;
  rotate: 12deg;
}
.main-content #bg-computer {
  width: 20rem;
  position: relative;
  bottom: 5rem;
  right: 1rem;
  z-index: 49;
}
.main-content #container {
  position: absolute;
  overflow: hidden;
  z-index: 49;
  height: calc(100vh - 100px);
  top: 90px;
  left: 30px;
  right: 30px;
}
.main-content #container h1 {
  width: 16rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
}
.main-content #container p {
  width: 18rem;
  color: #606060;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
}
.main-content #container button {
  margin-top: 2rem;
  background-color: #5468E7;
  width: auto;
  height: 3rem;
  border-radius: 0.5rem;
}
.main-content #container button #btn_recent-Work {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding: 3rem 2rem;
}

.footer {
  margin: 1.5rem auto;
  overflow: hidden;
  height: 130vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;
  z-index: 65;
  position: absolute;
}
.footer #card-contact {
  box-sizing: border-box;
  padding: 1rem 0.8rem;
  width: calc(100vw - 40px);
  height: 28rem;
  background-color: #5468E7;
  border-radius: 1.8rem;
  background-image: linear-gradient(to bottom, #3A8FFF, #0837AE);
  background-image: url("../img/line-gradient.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: #ffffff;
}
.footer #card-contact #card-contact_generic-container {
  width: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.footer #card-contact #card-contact_generic-container img {
  margin-left: 2.3rem;
}
.footer #card-contact #card-contact_generic-container span {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.footer #card-contact #card_about-team, .footer #card-contact #card_lets-talk {
  font-family: "Montserrat", sans-serif;
}
.footer #card-contact #card_about-team {
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  width: 12rem;
  line-height: 1.4rem;
}
.footer #card-contact #card_lets-talk {
  line-height: 2.3rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.footer #card-contact button {
  margin-top: 1rem;
  background-color: #ffffff;
  width: 13rem;
  height: 3.3rem;
  border-radius: 0.5rem;
}
.footer #card-contact button #btn_contact-Us {
  color: #5468E7;
  font-family: "Roboto", sans-serif;
  padding: 3rem 2rem;
  font-weight: 600;
}
.footer #footer_generic-container {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.2rem;
}
.footer #footer_generic-container #logo {
  width: 10rem;
  margin-bottom: 1.5rem;
}
.footer #footer_generic-container p {
  width: 17rem;
  color: #ADADAD;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
}
.footer #footer_generic-container select {
  margin-bottom: 1.5rem;
  width: 17rem;
  padding: 0.8rem 0.5rem;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border-radius: 0.4rem;
}
.footer .social-media_container {
  gap: 1rem;
  display: flex;
  justify-content: flex-start;
  margin: 1.4rem 0.4rem 1rem;
  height: 40px;
}
.footer .social-media_container .social-media_btn {
  box-sizing: border-box;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border: 1px solid #D8D8D8;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .social-media_container .social-media_btn img {
  width: 1rem;
  height: 1rem;
}
.footer .social-media_container #facebook {
  background: #5468E7;
}
.footer #footer-line {
  width: 20rem;
  position: relative;
  z-index: -1;
  bottom: 20.4rem;
  right: 4.7rem;
  rotate: 1deg;
}

.header {
  background-color: #ffffff;
}

.main-content {
  height: auto;
}

#main-content_about-Us {
  background-color: #232340;
}
#main-content_about-Us #section_about-Us {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
#main-content_about-Us #section_about-Us .tag-line {
  font-family: "Roboto", sans-serif;
  font-size: 0.89rem;
  font-weight: 600;
  color: #ffffff;
}
#main-content_about-Us #section_about-Us .tag-line .tag-line_spn {
  color: #ADADAD;
  margin-right: 1rem;
}
#main-content_about-Us #section_about-Us .head-line {
  width: 13rem;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
#main-content_about-Us #section_about-Us #generic-container {
  display: flex;
  justify-content: space-between;
  height: 3rem;
}
#main-content_about-Us #section_about-Us #generic-container .generic-container-buttons {
  display: flex;
  gap: 2rem;
}
#main-content_about-Us #section_about-Us #generic-container .generic-container-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-content_about-Us #section_about-Us #generic-container .generic-container-buttons #right-Arrow {
  border-radius: 100%;
  width: 3rem;
  background-color: #5468E7;
}
#main-content_about-Us #section_about-Us #generic-container #years {
  width: 7rem;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}
#main-content_about-Us #section_about-Us #computer-AboutUs {
  width: 30rem;
  position: relative;
  right: 4rem;
  margin-bottom: 1.5rem;
}
#main-content_about-Us #section_about-Us h2 {
  margin-bottom: 1.5rem;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
#main-content_about-Us #section_about-Us p {
  font-family: "Roboto", sans-serif;
  color: #ADADAD;
  font-size: 0.77rem;
  font-weight: 500;
  line-height: 1.3rem;
}
#main-content_about-Us #section_about-Us #btn_contact-Us {
  margin-top: 2rem;
  background-color: #5468E7;
  width: auto;
  height: 3rem;
  border-radius: 0.5rem;
  width: 8rem;
}
#main-content_about-Us #section_about-Us #btn_contact-Us a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
#main-content_about-Us #section_about-Us #branding {
  border-radius: 100%;
  width: 17rem;
  height: 17rem;
  margin-top: 3rem;
  position: relative;
  right: 0.6rem;
  box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.242297);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main-content_about-Us #section_about-Us #branding #branding-number {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 8rem;
  font-weight: bold;
}
#main-content_about-Us #section_about-Us #branding #branding-phrase {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

#main-content_service {
  background-color: #F8F8FC;
}

.section {
  margin-top: 3.5rem;
  height: 70rem;
}
.section .tag-line {
  font-family: "Roboto", sans-serif;
  font-size: 0.89rem;
  font-weight: 600;
  color: #5468E7;
}
.section .tag-line .tag-line_spn {
  margin-right: 0.8rem;
}
.section .head-line {
  width: 13rem;
  font-family: "Roboto", sans-serif;
}
.section .generic-container-buttons {
  display: flex;
  justify-content: flex-start;
  height: 3rem;
  gap: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.section .generic-container-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .generic-container-buttons #right-Arrow {
  border-radius: 100%;
  width: 3rem;
  background-color: #5468E7;
}
.section .generic-container_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  position: relative;
  z-index: 4;
}
.section .generic-container_cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  box-sizing: border-box;
  gap: 1rem;
  padding: 3rem;
  background: #ffffff;
  border-radius: 32px;
  width: 18rem;
  height: 10rem;
  box-shadow: 0 0.5rem #f6f5f6, 0 0.5rem #f6f5f6;
}
.section .generic-container_cards .card:last-child {
  margin-bottom: 2.5rem;
}
.section .generic-container_cards .card span {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #5468E7;
}
.section #line-purple {
  width: 23rem;
  position: relative;
  z-index: 1;
  bottom: 20.9rem;
  left: 0.1rem;
  rotate: -9deg;
}

#section_Achievement .tag-line {
  font-family: "Roboto", sans-serif;
  font-size: 0.89rem;
  font-weight: 600;
  color: #232340;
}
#section_Achievement .tag-line .tag-line_spn {
  color: #ADADAD;
  margin-right: 1rem;
}
#section_Achievement .head-line {
  width: 13rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
#section_Achievement #generic-container_total-Projects {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
#section_Achievement #generic-container_total-Projects #projects-number {
  font-family: "Roboto", sans-serif;
  color: #5468E7;
  font-weight: bold;
  font-size: 8rem;
}
#section_Achievement #generic-container_total-Projects #projects-phrase {
  font-family: "Roboto", sans-serif;
  font-size: 0.89rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
#section_Achievement img {
  margin: 0 auto;
  width: 16rem;
}
#section_Achievement #slider-pass_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#section_Achievement #slider-pass_container .slider-pass {
  border-radius: 100%;
  width: 0.7rem;
  height: 0.7rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30171);
}
#section_Achievement #slider-pass_container #two {
  background-color: #5468E7;
}

#work {
  color: #ffffff;
}

#main-content_work {
  height: 225rem;
}

.section .about-Agency {
  color: #ADADAD;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
.section .generic-container_cards {
  box-sizing: border-box;
  padding: 1rem;
}
.section .generic-container_cards .card-projects {
  width: 18rem;
}
.section .generic-container_cards .card-projects .container_img-button {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 22px;
  background-color: #FFBA79;
  padding: 1rem;
  height: 22rem;
}
.section .generic-container_cards .card-projects .container_img-button img {
  width: 100%;
}
.section .generic-container_cards .card-projects .container_img-button button {
  width: 10rem;
  height: 2.4rem;
  border-radius: 22px;
  background-color: #908CFF;
}
.section .generic-container_cards .card-projects .container_img-button button a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  padding: 1.4rem;
}
.section .generic-container_cards .card-projects #bento {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.section .generic-container_cards .card-projects #about-Agency_card-text {
  line-height: 1.6rem;
  font-size: 1.1rem;
}
.section .generic-container_cards .card-projects #right-Arrow_work {
  background-color: #ffffff;
  border: 0.1rem solid #000000;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}
.section .generic-container_cards .card-projects #bg-pink_cursor-pencil-screen {
  background-color: #E8BEFF;
}
.section .generic-container_cards .card-projects #bg-goldenYellow_cursor-pencil-screen {
  background-color: #FFCE79;
}
.section .generic-container_cards .card-projects #bg-smoothBlue_sound-Display {
  background-color: #D1ECFD;
}
.section .generic-container_cards #btn-contactUs-work {
  margin-top: 2.5rem;
  background-color: #5468E7;
  width: 15rem;
  height: 2.5rem;
  border-radius: 8px;
}
.section .generic-container_cards #btn-contactUs-work a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding: 1rem 5rem;
}

#main-content_cta {
  height: 68rem;
}

#section_cta {
  background-color: #5468E7;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 56rem;
}
#section_cta #content-container {
  z-index: 10;
}
#section_cta #content-container #cta_tag-line, #section_cta #content-container #cta_tag-line_spn {
  margin-top: 1.5rem;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
}
#section_cta #content-container #cta_head-line {
  width: 12rem;
  color: #ffffff;
}
#section_cta #content-container #cta_btn-apply {
  width: 9rem;
  height: 2.6rem;
  border-radius: 0.5rem;
  background: white;
}
#section_cta #content-container #cta_btn-apply a {
  color: #5468E7;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 0.88rem;
}
#section_cta #phone-img {
  z-index: 5;
  position: relative;
  right: 7rem;
  width: 30rem;
}
#section_cta #bg-pink {
  z-index: 2;
  position: relative;
  bottom: 41.6rem;
  left: 1rem;
  width: 17rem;
}/*# sourceMappingURL=style.css.map */