@import '../variables';

@mixin positionProgress {
    width: 0.8rem;
    height: 0.8rem;
    border: none;
    background: $color-Smoth-Green;
}

.card-aboutApp {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        box-sizing: border-box;
        .card-Header { 
            display: flex;
            flex-direction: column;
            align-items: center;
            svg {
                width: calc(16rem + 1vw);
                height: auto;
            }
            .title-Card {
                font-size: calc($title-Font-Size + 0.3vh);
                margin-bottom: 0.5rem;
            }
            .subtitle-Card {
                margin-top: 0.5rem;
                width: 15rem;
                font-size: calc($subtitle-Font-Size + 0.3vh);
                font-weight: lighter;
                line-height: 1.25rem;
                text-align: center;
            }
        }
        .slide-Progress {
            width: 5rem;
            display: flex;
            justify-content: space-around;
            .slide-Progress_Position {
                width: 0.6rem;
                height: 0.6rem;
                border: 0.099rem solid #000000;
                border-radius: 100%;
            }
            #position-One, #position-Two, #position-Three {
                @include positionProgress();
            }
        }
}


