@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
::-webkit-scrollbar {
  width: 0px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

html, body {
  font-family: "Poppins", sans-serif;
  color: black;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#headerTwo:target, #headerThree:target {
  -webkit-animation: entrance 1s ease 0s 1 normal none;
          animation: entrance 1s ease 0s 1 normal none;
}

@-webkit-keyframes entrance {
  0% {
    opacity: 0;
    transform: translateX(0.6rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes entrance {
  0% {
    opacity: 0;
    transform: translateX(0.6rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
::-webkit-scrollbar {
  width: 0px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

html, body {
  font-family: "Poppins", sans-serif;
  color: black;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#headerTwo:target, #headerThree:target {
  -webkit-animation: entrance 1s ease 0s 1 normal none;
          animation: entrance 1s ease 0s 1 normal none;
}

@keyframes entrance {
  0% {
    opacity: 0;
    transform: translateX(0.6rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.card-aboutApp {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  box-sizing: border-box;
}
.card-aboutApp .card-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-aboutApp .card-Header svg {
  width: calc(16rem + 1vw);
  height: auto;
}
.card-aboutApp .card-Header .title-Card {
  font-size: calc(1.3rem + 0.3vh);
  margin-bottom: 0.5rem;
}
.card-aboutApp .card-Header .subtitle-Card {
  margin-top: 0.5rem;
  width: 15rem;
  font-size: calc(0.9rem + 0.3vh);
  font-weight: lighter;
  line-height: 1.25rem;
  text-align: center;
}
.card-aboutApp .slide-Progress {
  width: 5rem;
  display: flex;
  justify-content: space-around;
}
.card-aboutApp .slide-Progress .slide-Progress_Position {
  width: 0.6rem;
  height: 0.6rem;
  border: 0.099rem solid #000000;
  border-radius: 100%;
}
.card-aboutApp .slide-Progress #position-One, .card-aboutApp .slide-Progress #position-Two, .card-aboutApp .slide-Progress #position-Three {
  width: 0.8rem;
  height: 0.8rem;
  border: none;
  background: #92E3A9;
}

button {
  width: 18rem;
  height: 3rem;
  border: none;
  background: #92E3A9;
  box-shadow: 0px 4px 10px #A1C3FC;
  margin: 0.5rem auto;
}
button a.btn_continue {
  position: relative;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f8f8f8;
  padding: 1rem 6rem;
}

a.btn_skip {
  font-size: 0.9rem;
  font-weight: 600;
  color: #92E3A9;
}
@media only screen and (min-width: 769px) {
  .card-aboutApp .card-Header {
    width: auto;
  }
  .card-aboutApp .card-Header svg {
    width: 23rem;
    height: auto;
  }
  .card-aboutApp .card-Header .title-Card {
    font-size: 1.9rem;
  }
  .card-aboutApp .card-Header .subtitle-Card {
    font-size: 1.2rem;
    width: 23rem;
  }
  .card-aboutApp .slide-Progress .slide-Progress_Position {
    width: 0.8rem;
    height: 0.8rem;
  }
  .card-aboutApp .slide-Progress #position-One, .card-aboutApp .slide-Progress #position-Two, .card-aboutApp .slide-Progress #position-Three {
    width: 1.1rem;
    height: 1.1rem;
  }
  button {
    width: 25rem;
    height: 4rem;
  }
  button a.btn_continue {
    font-size: 1.4rem;
    padding: 1rem 6rem;
  }
  a.btn_skip {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=style.css.map */