@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400&display=swap');

//fonts
$Roboto: 'Roboto', sans-serif;
$Monserrat: 'Montserrat', sans-serif;

//colors
$white: #ffffff;
$mobile-menu: #595976;
$burger-menu: #232340;
$subtitle-color: #606060;
$light-gray: #ADADAD;
$Blue-purple: #5468E7;


//stroke
$social-midia_border: #D8D8D8;