@import './variables';

::-webkit-scrollbar {
    width: 0px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

html, body {
    overflow: hidden;
    font-family: $fonte;
    color: black;
    background: $color-Ice;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

// Animation
#headerTwo:target, #headerThree:target {
    animation: entrance 1s ease 0s 1 normal none;
}
@keyframes entrance {
    0% {
        opacity: 0;
        transform: translateX(0.6rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}