@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
// Fonts
$fonte: 'Poppins', sans-serif;

// Colors
$color-Ice: #f8f8f8;
$color-Smoth-Green: #92E3A9;
$color-Smooth-Ice-Shadow: #A1C3FC;

// Font size
$title-Font-Size: 1.3rem;
$subtitle-Font-Size: 0.9rem;

